.main{
    width: 1920px;
    height:1080px;
    background-image: url(../../../../common/login-img/login-img/bg.png);
    position: relative;
}
.main_card{
    width: 440px;
    height:400px;
    background-image: url(../../../../common/login-img/login-img/login_bg.png);
    position: absolute;
    left:740px;
    top:390px;
}

.main_title{
    width:72px;
    height:18px;
    position: absolute;
    left:924px;
    top:390px;
    font-size:18px;
    color:#fff;
}

.main_name{
    display: block;
    position: absolute;
    left:54px;
    top:70px;
    width: 328px;
    height: 44px;
    border:1px solid rgb(1, 1, 2);
}

 .main_card_name{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top:70px;
    margin-left:52px;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    display: inline-block;
    width: 330px;
    height: 46px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    background-image:url(../../../../common/login-img/login-img/icon_yonghuming.png);
    background-repeat:no-repeat;
    background-position:11px 10px;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input::-webkit-input-placeholder{
      font-size:16px;
      padding-left:50px;
    }
.main_card_name{
    margin-top:70px;
}
.main_card_password{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top:70px;
    margin-left:52px;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    display: inline-block;
    width: 330px;
    height: 46px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    /* background-image:url(../../../common/login-img/icon_yonghuming.png); */
    background-repeat:no-repeat;
    background-position:11px 10px;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;


    margin-top:26px;
    background-image:url(../../../../common/login-img/login-img/icon_mima.png);
}
.main_card_checkout{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top:70px;
    margin-left:52px;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    display: inline-block;
    width: 330px;
    height: 46px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    /* background-image:url(../../../common/login-img/icon_yonghuming.png); */
    background-repeat:no-repeat;
    background-position:11px 10px;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;


    background-image:url(../../../../common/login-img/login-img/icon_yanzhengma.png);
    margin-top:26px;
    margin-left:-8px;
    width:200px;  
}
.main_card_block{
    width: 330px;
    height: 46px;
    margin-left:60px;
}
.main_card_right{
    width: 102px;
    height: 44px;
    margin-right: 9px;
    text-align: center;
    margin-top: 27px;
    display: block;
    background: #fff;
    float: right;
    font-size: 27px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(91,91,91,1);
    border-radius: 2px;

}

.main_card_btn{
    width: 330px;
    height: 46px;
    margin-top:27px;
   
    margin:auto;
    margin-top:54px;
    border-radius:2px;
}
.main_card_btn button{
    width: 100%;
    height:100%;
    /* border-radius:2px; */
    border:none;
    background-image:url(../../../../common/login-img/login-img/Login_btn_pre.png.png);
    background-repeat:no-repeat;
    background-position:0px 0px;
    outline: none; 
    font-size:16px;
    color:#fff; 
} 
.main_card_btn button:hover{
    background-image:url(../../../../common/login-img/login-img/Login_btn.png.png);
}