* {
    list-style: none;
    padding: 0;
    margin: 0;
}

.deploy {
    width: 100%;
    height: 100%;
    background-size: cover;
    color:#fff; 
    display: flex;
    flex-direction: column;
}
header {
    height: 70px;
    display: flex;
    width: 100%;
    line-height: 70px;
}
header span {
    flex: 1;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}
header span.active {    
    color: lime;
   border-bottom: 1px solid lime;
}
.deploy main{
    flex: 1;
}